.border {
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
}

.root {
    -fx-font-family: 'Segoe UI', sans-serif; /* Fallback to sans-serif if Segoe UI is not available */
}

.question-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #333;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI';
}

.big-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-fill: #333;
    -fx-font-family: 'Segoe UI';
}

.lives-display {
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-translate-y: -10px;
    -fx-translate-x: 2px;
    -fx-font-family: 'Segoe UI Emoji', 'Segoe UI';
}

.lives-gone-display {
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-translate-y: -10px;
    -fx-translate-x: 2px;
    -fx-font-family: 'Segoe UI Emoji', 'Segoe UI';
    -fx-fill: black;
}


.invisible {
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-translate-y: -50px;
    -fx-font-family: 'Segoe UI Emoji', 'Segoe UI';
    -fx-fill: transparent;
}

.city-button {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 15px 30px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI';
}

.input-field {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 15px 30px;
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI';
}

.city-button:hover {
    -fx-background-color: #e6e6e6;
}

.correct-answer {
    -fx-border-color: #4FC3A1;
    -fx-border-width: 2px;
}

.wrong-answer {
    -fx-border-color: #e33f3f;
    -fx-border-width: 2px;
}

/*Table stuff*/

.table-view {
    -fx-border-radius: 5;
    -fx-font-size: 12px;
    -fx-border-color: transparent;
    -fx-background-color: white;
}

.table-view .column-header-background .label {
    -fx-alignment: center;
    -fx-background-color: #4FC3A1;
    -fx-text-fill: white;
}

.table-view .column-header-background .label:nth-child(odd) {
    -fx-background-color: #324960;
    -fx-text-fill: white;
}

.table-row-cell:even {
    -fx-background-color: #F8F8F8;
}

.table-row-cell {
    -fx-padding: 8px;
    -fx-border-color: transparent transparent #f8f8f8 transparent;
    -fx-border-width: 0 0 1 0;
}

.table-view .table-cell {
    -fx-alignment: center;
    -fx-text-fill: black;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}