.border {
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
}

.root {
    -fx-font-family: 'Segoe UI', sans-serif; /* Fallback to sans-serif if Segoe UI is not available */
}

.question-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-fill: #333;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI';
}

.lives-display {
    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI Emoji', 'Segoe UI';
}

.city-button {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 15px 30px;
    -fx-min-width: 150px;
    -fx-max-width: 150px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-translate-y: -10px;
    -fx-font-family: 'Segoe UI';
}

.city-button:hover {
    -fx-background-color: #e6e6e6;
}

.correct-answer {
    -fx-border-color: green;
    -fx-border-width: 2px;
}

.wrong-answer {
    -fx-border-color: red;
    -fx-border-width: 2px;
}